:root {
  --sizeVar: 90vmin;
}

body {
  background: #ebd288;
}

.ipadBox {
  position: absolute;
  width: var(--sizeVar);
  height: calc(var(--sizeVar) * 0.77);
  background-color: #121212;
  border-radius: calc(var(--sizeVar) / 24);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 calc(var(--sizeVar) / 200) #9d9ea0;
}

.ipadBox::before,
.ipadBox::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 1%;
  left: 6%;
  top: -1.2%;
  border-radius: calc(var(--sizeVar) / 24) calc(var(--sizeVar) / 24) 0 0;
}

.ipadBox::after {
  left: 11%;
}

.ipadBox::before,
.ipadBox::after,
.powerButton {
  background-color: #8a8a8a;
  z-index: -1;
}

.powerButton {
  position: absolute;
  width: fit-content;
  height: 7%;
  left: -1.5vmin;
  top: 5%;
  padding: 0;
  padding-right: 0.5vmin;
  border: none;
  outline: none;
  cursor: pointer;
  color: transparent;
  border-radius: calc(var(--sizeVar) / 24) 0 0 calc(var(--sizeVar) / 24);
}

.powerButton::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 150%;
  top: -25%;
  left: -100%;
}

.ipadScreen {
  position: absolute;
  width: 95%;
  height: 93.6%;
  top: 3.2%;
  left: 2.5%;
  border-radius: calc(var(--sizeVar) / 40);
  background-color: #aaaaaa;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms linear;
}

.wallpaper,
.lockContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("https://i.imgur.com/foK4MWr.png");
  background-size: contain;
  background-position: center;
  background-color: black;
}

.lockScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(0);
  transition: top 800ms ease-in 0s, backdrop-filter 200ms ease-in 0s;
}

.lockContent {
  background: none;
}

.statusBar {
  width: 100%;
  height: 3%;
  background-image: url("https://assets.codepen.io/2722301/status.png");
  background-position: right;
  background-size: 11.6%;
  background-repeat: no-repeat;
}

.lockIcon {
  width: 100%;
  height: 5%;
  background-image: url("https://assets.codepen.io/2722301/lock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.lockTime {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: calc(var(--sizeVar) / 46);
  color: white;
  text-align: center;
  line-height: 250%;
  margin-top: 3%;
}

.lockTime::first-line {
  font-size: calc(var(--sizeVar) / 10.5);
}

.interactionBar {
  --colorMe: white;
  position: absolute;
  bottom: -8%;
  height: 3%;
  width: 100%;
  transition: bottom 800ms ease-in 0s;
}

.lockScreen .interactionBar {
  bottom: 0;
}

#inAppBar {
  cursor: pointer;
}

.interactionBar::after {
  content: "";
  position: absolute;
  width: 28%;
  height: 30%;
  top: 0;
  margin-left: 36%;
  border-radius: 100px;
  background-color: var(--colorMe);
}

.lockScreen .interactionBar::after {
  animation: interactionAnim 8000ms ease-in infinite;
}

.lockScreen .interactionBar::before {
  position: absolute;
  width: 100%;
  top: -140%;
  text-align: center;
  color: white;
  content: "swipe up to open";
  font-size: calc(var(--sizeVar) / 46);
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  animation: interTextAnim 8000ms ease-in infinite;
}

.dockWrapper {
  position: absolute;
  bottom: -20%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: bottom 400ms ease-in-out 0s;
}

.dockWrapper .dockbar {
  display: inline-flex;
  padding: 0 calc(var(--sizeVar) / 120);
  border-radius: calc(var(--sizeVar) / 40);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1vh);
}

.dockbar .iconDiv,
.dockbar .iconDivide {
  display: inline-flex;
  width: calc(var(--sizeVar) / 20);
  height: calc(var(--sizeVar) / 20);
  margin: calc(var(--sizeVar) / 60) calc(var(--sizeVar) / 120);
  border-radius: calc(var(--sizeVar) / 80);
}

.dockbar .iconDiv {
  background-color: #ffffff;
  cursor: pointer;
  transition: all 500ms ease-in-out 0s, transform 100ms ease-in-out 0s;
  overflow: hidden;
  background-image: url(https://assets.codepen.io/2722301/icon_sf.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.iconDiv:nth-of-type(2) {
  background-image: url(https://assets.codepen.io/2722301/icon_tw.png);
}

.iconDiv:nth-of-type(3) {
  background-image: url(https://i.imgur.com/WrLOHKV.png);
}

.iconDiv:nth-of-type(5) {
  background-image: url(https://assets.codepen.io/2722301/icon_md.png);
}

.iconDiv:nth-of-type(6) {
  background-image: url(https://assets.codepen.io/2722301/icon_cm.png);
}

.dockbar .iconDivide {
  width: calc(var(--sizeVar) / 200);
  background-color: rgba(255, 255, 255, 0.1);
}

.dockbar .iconDiv:hover {
  transform: scale(1.1);
}

.iconDiv .imgDiv {
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url(https://i.imgur.com/eARRjcu.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 300ms linear 0s;
}

.iconDiv:nth-of-type(2) .imgDiv {
  background-image: url(https://i.imgur.com/Izk8yf4.png);
}

.iconDiv:nth-of-type(3) .imgDiv {
  background-image: url(https://i.imgur.com/ybEy0fs.png);
}

.iconDiv:nth-of-type(5) .imgDiv {
  background-image: url(https://i.imgur.com/Hh6LzQ4.png);
}

.iconDiv:nth-of-type(6) .imgDiv {
  background-image: url(https://i.imgur.com/DQleg2F.png);
}

.dockWrapper {
  transition: all 500ms linear;
}

@keyframes interactionAnim {
  0% {
    top: 0;
  }

  70% {
    top: 0;
  }

  80% {
    top: -50%;
  }

  92% {
    top: 0;
  }

  100% {
    top: 0;
  }
}

@keyframes interTextAnim {
  0% {
    top: -100%;
    opacity: 0;
  }

  70% {
    top: -100%;
    opacity: 0;
  }

  80% {
    top: -200%;
    opacity: 1;
  }

  90% {
    top: -200%;
    opacity: 1;
  }

  100% {
    top: -200%;
    opacity: 0;
  }
}